---
import RecipeCard from "../components/RecipeCard.astro";
import Layout from "../layouts/Layout.astro";
import '../styles/recipies.scss';

const recipes = await Astro.glob("./recipes/*.mdx");
// I am ashamed of this code, but it works
---

<Layout title="Blog" description="Welcome to my blog!!">
    <h1>Recipes</h1>

    <div class="search">
        <form action="get">
            <input type="text" name="search" placeholder="Search for a recipe" />
            <input type="submit" value="Search" />
        </form>
    </div>


    <div class="recipes">
        {recipes.map((recipe) => {
            const data = recipe.frontmatter;
            const url = recipe.url ?? "";
            if (data.draft) return;
            return (
                <RecipeCard 
                title={data.title}
                url={recipe.url}
                description={data.description}
                time={data.prepT + data.cookT}
                servings={data.servings}
                allergens={data.allergens}
                tags={data.tags}
                />
            );
        })}
    </div>
</Layout>
