---
import Layout from '../layouts/Layout.astro';
import Tags from '../components/Tags.astro';
import '../styles/main.scss';
import '../styles/markdown.scss';
import Allergens from '../components/Allergens.astro';
const { frontmatter }= Astro.props;

// const tags = frontmatter.tags.map((tag: unknown) => <a href={"/tags/"+tag}>#{tag}</a>);
---

<Layout title= { frontmatter.title } description= { frontmatter.description } >
    <div class="mdheader">
        <h1>{ frontmatter.title }</h1>
        <h2><b>By: <a><i> { frontmatter.author } </i></a></b>@ {frontmatter.date} <Tags tags={frontmatter.tags} /></h2>
        <p><i> {frontmatter.description} </i></p>
        <Allergens allergens={frontmatter.allergens} />
        {
            frontmatter.cite? <p><i><a href={frontmatter.cite}>This was generated with ChatGPT: The full conversation can be found here</a></i></p> : null
        }
    </div>
    <div class="mdcontent">
        <slot />
    </div>
</Layout>