---
import Layout from '../layouts/Layout.astro';
import Tags from '../components/Tags.astro';
import '../styles/main.scss';
import '../styles/markdown.scss';
import Allergens from '../components/Allergens.astro';
const { frontmatter }= Astro.props;
console.log(frontmatter.equipment);
---

<Layout title= { frontmatter.title } description= { frontmatter.description } >
    <div class="mdheader">
        <h1>{ frontmatter.title }</h1>
        <h2><b>By: <a href={frontmatter.cite}><i> { frontmatter.author } </i> </a> </b> @{frontmatter.date} <Tags tags={frontmatter.tags} decorator="#" /></h2>
        <p><i> {frontmatter.description} </i></p>
        <p><b>
            Prep Time: <i>{frontmatter.prepT}min </i>
            Cook Time: <i>{frontmatter.cookT}min </i>
            Allergens: <Tags tags={frontmatter.allergens} decorator="" />
        </b></p>
    </div>
    <div class="mdcontent">
        <div class="ingredients">
            <h1>Ingredients</h1>
            <ul>
                {frontmatter.ingredients.map((ingredient: { quantity: unknown; unit: unknown; ref: string; name: unknown; notes: string; }) => {
                    return (
                            <li>
                                <b>{ingredient.quantity} {ingredient.unit}</b> 
                                <a href={"/ingredients/" + ingredient.ref}>{ingredient.name}</a>
                                <i>{ingredient.notes !== "" ? "(" + ingredient.notes+ ")" : "" }</i>
                            </li>
                        )
                    })  
                }
            </ul>
        </div>
        <div class="equipment">
            {frontmatter.equipment.length > 0 ? (
                <div>
                    <h1>Equipment</h1>
                    <ul>
                        {frontmatter.equipment.map((equipment: { ref: string; name: unknown; notes: string; additional: string;}) => {
                            return (
                                    <li>
                                        <a href={"/equipment/" + equipment.ref}>{equipment.name}</a>
                                        <i>{equipment.notes !== "" ? "(" + equipment.additional+ ")" : "" }</i>
                                        <span>{equipment.notes}</span>
                                    </li>
                                )
                            })  
                        }
                    </ul>
                </div>
            ) : ""}
        </div>

        <slot />
    </div>
</Layout>

